@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.store-standards {
    background: $orange;
    @include container-padding;
    @include flex-center;

    @media (max-width: $large) {
        flex-flow: column wrap;
    }

    p {
        font-size: 14px;
    }

    .standards-list {
        display: flex;
        flex-flow: row nowrap;
        .list {order: 0;}
        .image {order: 1;}

        @media (max-width: $large) {
            flex-flow: column wrap;
            .image {order: 0;}
            .list {order: 2;}
        }

        ul {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 13px;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .mockup-image{
        width: 100%;
        order: 1;
    }

}