@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-mobile {
    flex-flow: column nowrap;
}

@mixin container-padding {
    padding: 40px 0;
}