@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$primary-font: 'Montserrat', sans-serif;
$orange-gradient: linear-gradient(180deg, #FF8008 0%, #F46B45 100%) 0% 0%;
$orange: #F46B45;
$white: #FFFFFF;
$grey: #919091;

body {
    color: $white;
}