@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.how-it-works {
    padding: 40px 20px;

    h2 {
        color: $orange;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h4 {
        color: $orange;
        font-size: 16px;
    }

    p {
        color: $grey;
        font-size: 12px;
    }

    .steps-top {
        margin-bottom: 20px;
        @media (max-width: $mobile) {
            flex-flow: column nowrap;
            magin-bottom: 0;
        }
    }

    .steps-bottom {
        @media (max-width: $mobile) {
            flex-flow: column nowrap;
        }
    }

}