@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.how-it-works {
    @include container-padding;
    
    h2 {
        color: $orange;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h4 {
        color: $orange;
        font-size: 16px;
    }

    p {
        color: $grey;
        font-size: 12px;
    }

    .steps-top {
        margin-bottom: 20px;
    }
}