@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header-container {
    width: 100%;
    background: transparent $orange-gradient no-repeat padding-box;
    opacity: 1;
    @include flex-center;

    .header-container-inner {

        @include flex-center;
        @media (max-width: $mobile) {
            @include flex-mobile;
            .header-img {
                order: 0;
                margin-bottom: 20px;
                max-width: 70%;

            }

            .header-text {
                order: 1;
                text-align: center;
            }
        }

        margin: 20px;

        h1 {
            font-size: 40px;
    
            span {
                font-weight: bold;
            }
        }
    
        ul {
            list-style: none;
            padding-left: 0;
        }
        
        .header-text {
            .logo {
                max-width: 50%;
                margin: 10px;
            }
        }

        .header-img {

            img {
                max-width: 100%;
            }
        }
    }

}