@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.features {
    padding-top: 40px;

    h2 {
        color: $orange;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        color: $grey;
        font-size: 14px;
    }

    .features-row {

        border: solid green;
        flex-flow: row nowrap;
        max-width: 100%;

        .features-col {
            flex-grow: 1;
        }

        .center-col {
            border-left: 1px solid $orange;
            border-right: 1px solid $orange;
        }
    
    }

}