@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.features {
    @include container-padding;
    
    .features-row {

        display: flex;
        flex-flow: row nowrap;

        .features-col {
            flex-flow: column wrap;
            min-width: 300px;
            flex-grow: 1;

            img {
                max-width: 100%;
            }
        }

        .center-col {
            border-left: 1px solid $orange;
            border-right: 1px solid $orange;
        }
    
    }

    h2 {
        color: $orange;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        color: $grey;
        font-size: .8rem;
    }


}